---
import Card from "../components/card.astro";
import Chip from "../components/chip.astro";
interface Link {
  title: string;
  link: string;
  icon: string;
}
const links: Link[] = [
  {
    title: "Homepage",
    link: "https://nevillebrem.com",
    icon: "fa-solid fa-home",
  },
  {
    title: "Zenith",
    link: "https://zenithproductivity.app",
    icon: "fa-solid fa-calendar-days",
  },
  {
    title: "Codoodle",
    link: "https://codoodle.nevillebrem.com",
    icon: "fa-solid fa-comments",
  },
  {
    title: "Wolffe Bricks",
    link: "https://wolffebricks.rocks",
    icon: "fa-solid fa-store",
  },
  {
    title: "BarMates",
    link: "https://barmates.ch",
    icon: "fa-solid fa-cookie-bite",
  },
  {
    title: "Photography",
    link: "https://photography.nevillebrem.com",
    icon: "fa-solid fa-camera-retro",
  },
  {
    title: "Gumroad",
    link: "https://nevillebrem.gumroad.com/",
    icon: "fa-solid fa-money-bill",
  },
  {
    title: "GitHub Sponsoring",
    link: "https://github.com/sponsors/nevthereal",
    icon: "fa-solid fa-heart",
  },
];
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/x-icon' href='/favicon.png' />
    <meta name='viewport' content='width=device-width' />
    <script
      is:inline
      defer
      src='https://kit.fontawesome.com/0c1fb969e1.js'
      crossorigin='anonymous'></script>
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content='Useful links of Neville Brem' />
    <meta name='author' content='Neville Brem' />
    <meta property='og:title' content='Neville Brem' />
    <meta property='og:image' content='banner.png' />
    <meta property='og:description' content='Linktree of Neville Brem' />
    <meta property='twitter:description' content='Linktree of Neville Brem' />
    <meta property='twitter:title' content='Neville Brem' />
    <meta property='twitter:image' content='banner.png' />
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:site' content='@BremNeville' />
    <title>Links of Neville Brem</title>
  </head>
  <body
    class='bg-[#1e1e1e] flex justify-center items-center lg:h-screen w-screen text-white'
  >
    <main class='w-[80%] flex flex-col gap-8 my-8'>
      <h1 class='md:text-6xl text-4xl font-black text-center'>Neville Brem</h1>
      <div class='grid lg:grid-cols-2 gap-4 lg:max-w-[50vw] mx-auto'>
        {
          links.map((link) => {
            return (
              <Card title={link.title} link={link.link} icon={link.icon} />
            );
          })
        }
      </div>
      <div class='flex justify-center gap-8'>
        <Chip link='youtube.com/@nevillebrem' icon='fa-brands fa-youtube' />
        <Chip link='github.com/nevthereal' icon='fa-brands fa-github' />
        <Chip link='x.com/BremNeville' icon='fa-brands fa-x-twitter' />
      </div>
      <p class='text-center mx-auto'>
        Or write me a mail at <a href='mailto:contact@nevillebrem.com'
          >contact@nevillebrem.com</a
        >
      </p>
    </main>
  </body>
</html>
